:root {
  --header-background-color: #4f3e1d;
  --header-text-color: #cfa14c;
  --main-text-color: #423419;
  --main-background-color: #cfa14c;
  --border-color: #826530;
  font-family: 'Rubik', sans-serif;
  /* font: 16px / 1 sans-serif; */
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}
header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5em;
}

header h1 {
  color: var(--header-text-color);
}
h1 {
  /* text-align: center; */
  font-family: 'Rubik';
  font-weight: 500;
  margin: 1rem 0;
}

main {
  border: 1px solid red;
  display: flex;
  gap: 1rem; /* added */
  flex-flow: column wrap;
  justify-content: space-evenly; /*changed to "center" */
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 10rem 5rem 10rem;
}

#timer {
  border: 2px solid greenyellow;
  display: flex;
  font-size: 5rem;
  margin: 0;
  padding: 0.2rem;
  justify-content: center;
}

container {
  border: 2px solid blue;
  width: 80%;
  margin: 0 auto;
  padding: 0.2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

button {
  /* display: flex; */
  font-weight: 700;
  align-self: center;
  justify-content: center;
  border-radius: 999px;
  border: 2px solid var(--border-color);
  padding: 0.3rem 1rem;
}

section {
  min-width: 20rem;
  border: medium solid var(--border-color);
  border-radius: 1.2rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#quarters li {
  text-decoration: none;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 3rem;
}

.field {
  background-color: #ebd4a9;
  border-radius: 0.4rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: #8f6f35;
  border-radius: 999px;
}

fieldset i.subtract {
  color: #f53131;
}
